@using la_mia_pizzeria_static.Models.Partial

@{
    @model PizzaCategories
    

    Layout = "_MenuLayout";
}

<div class="text-center">
    @using(Html.BeginForm("Create", "Pizza", new {ingredienti = Model.Ingredients }, FormMethod.Post)){
        
        <div class="form-group">
            <label>Inserisci il nome della pizza *</label>
            <input type="text" asp-for="Pizza.Nome" class="form-control" placeholder="Nome pizza">
            <span asp-validation-for="Pizza.Nome" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Inserisci una breve descrizione della nuova pizza</label>
            <textarea asp-for="Pizza.Descrizione" class="form-control" rows="3"></textarea>
            <span asp-validation-for="Pizza.Descrizione" class="text-danger"></span>
        </div>
        <div class="form-check">
            <label class="form-check-label" style="display: block;">Allega un'immagine di anteprima della tua pizza</label>
            <input type="file" class="form-control-file" asp-for="Pizza.Immagine">
            <span asp-validation-for="Pizza.Immagine" class="text-danger"></span>
        </div>
        <div class="form-check">
            <label class="form-check-label">Inserisci il prezzo della pizza</label>
            <input asp-for="Pizza.Prezzo">
            <span asp-validation-for="Pizza.Prezzo" class="text-danger"></span>
        </div>

        <label class="form-check-label">Inserisci la categoria della pizza</label>
        <select asp-for="Pizza.CategoryId">
            <option value="">Nessuna categoria</option>

            @foreach(Category item in Model.Categories){
                <option value="@item.Id"> @item.Nome </option>
            }
        </select>


        @*<select asp-for="SelectedIngredients"
                multiple="multiple" size="10"
                class="form-control mb-2 mr-sm-2 ml-sm-3 leftList"
                asp-items="@Model.Ingredients">
        </select>*@


        <!--Prova con le checkbox, ancora in corso-->
        @foreach(CheckboxItem ingredient in Model.Ingredients){
            <div class="form-check">

                @*@Html.CheckBoxFor(it => ingredient.IsClicked)*@
                @*asp-for="SelectedIngredients[ingredient.Id - 1]"*@


                @Html.HiddenFor(id=> ingredient.Id) 
                @Html.DisplayFor(name=> ingredient.Nome)

                @Html.CheckBoxFor(it => ingredient.IsChecked)

                @*<input asp-for="@ingredient.IsChecked" id="@ingredient.Id" type="checkbox" value="@ingredient.Id"> SOLUZIONE MIA*@
                @*<label for="@ingredient.Id" class="form-check-label">@ingredient.Nome</label>*@
            </div>
        }
        <button type="submit" class="btn btn-primary">Crea pizza</button>
    }  
</div>

